<h2>Comments <%= link_to "(+)", new_post_comment_path %></h2>

<table class="table">
  <thead>
      <tr>
        <th>Name</th>
        <th>Text</th>
      </tr>
  </thead>

  <tbody>
    <% @post.comments.each do |comment| %>
     <tr>
       <td><strong></strong> <%= comment.name %></td>
       <td><strong></strong> <%= comment.text %></td>
       <td>
        <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
       </td>
     </tr>

     <% end %>
    </tbody>
  </table>
