<h1> Refrigerator <button> <%= link_to "add new refriger", new_refriger_path %> </button></h1>

<ul>
  <% @refrigers.each do |refriger| %>
    <li>
      <%= link_to refriger.location, refriger %>
    </li>
  <% end %>
</ul>
